<div class="max-w-2xl mx-auto py-6 px-4">
    <h1 class="text-4xl font-bold mb-6 text-center">Sobre Nosotros</h1>
    <p class="text-base mb-6 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sint
        dignissimos
        excepturi est ab voluptatum, vitae odit sit accusamus maxime tenetur at. Cum omnis quo deserunt. Obcaecati
        error provident et.</p>

    <div class="grid grid-cols-2 gap-4 mb-8">
        <div class="border rounded-md p-4">
            <h2 class="text-lg font-semibold mb-2">Nuestra Misión</h2>
            <p class="text-sm leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ratione
                dolorum voluptate, distinctio dolorem sequi.</p>
        </div>
        <div class="border rounded-md p-4">
            <h2 class="text-lg font-semibold mb-2">Nuestros Valores</h2>
            <ul class="list-disc list-inside text-sm">
                <li>Calidad</li>
                <li>Integridad</li>
                <li>Innovación</li>
                <li>Colaboración</li>
            </ul>
        </div>
    </div>

    <div class="mb-8">
        <app-wave-audio audioUrl="assets/audio2.mp3"></app-wave-audio>
    </div>

    <div class="flex justify-center">
        <a href="#"
            class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-6 rounded transition duration-300">Más
            información</a>
    </div>
</div>