<div class="flex flex-col lg:flex-row lg:space-x-4 lg:items-start mt-5">
    <!-- Barra lateral de categorías -->
    <div class="lg:w-80">
        <!-- Lista de categorías -->
        <ul class="space-y-2">
            <!-- Enlace para mostrar todos los productos -->
            <li>
                <a [routerLink]="['/']" class="block text-indigo-600 hover:text-blue-700 hover:underline">All</a>
            </li>
            <!-- Iteración a través de las categorías -->
            <ng-container *ngFor="let category of categories()">
                <li>
                    <!-- Enlace para filtrar por categoría -->
                    <a [routerLink]="['/']" [queryParams]="{ category_id: category.id }"
                        class="block text-indigo-600 hover:text-blue-700 hover:underline">{{ category.name }}</a>
                </li>
            </ng-container>
        </ul>
    </div>
    <!-- Cuadrícula de productos -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-4 lg:mt-0">
        <!-- Iteración a través de los productos -->
        <ng-container *ngFor="let product of products()">
            <div class="bg-white rounded-lg overflow-hidden shadow-md border border-gray-200">
                <!-- Componente de producto -->
                <app-product [product]="product" (addToCart)="addToCart($event)" />
            </div>
        </ng-container>
    </div>
</div>